body {
    padding-top: 50px;
    background-image: url('../lightpaperfibers.png');
    background-repeat: repeat;
}

#content {
    padding: 40px 15px;
}

.dropbox-logo {
    width: 48px;
    height: 48px;
    margin: 10px;
}

.instruction-row {
    float: left;
    width: 100%;
    padding: 30px;
    margin-bottom: 20px;
    min-height: 108px;
}

.instruction-num {
    font-size: 48px;
    height: 48px;
    width: 48px;
    float: left;
    margin-right: 30px;
}

.instruction {
    float: left;
}
