/* Background pattern from subtlepatterns.com */
/* Base html styles */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(../fonts/arvo.woff2) format('woff2'), url(../fonts/arvo.woff) format('woff');
}

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(../fonts/arvo-bold.woff2) format('woff2'), url(../fonts/arvo-bold.woff) format('woff');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(../fonts/droidserif.woff) format('woff');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(../fonts/droidserif-bold.woff) format('woff');
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: 'Arvo', 'Droid Serif', serif;
    font-size: 18px;
    padding-top: 50px;
    background-image: url('../img/lightpaperfibers.png');
    background-image: url('../img/ricepaper2.png');
    background-repeat: repeat;
}

#content {
    padding: 30px 15px;
}

#logo {
  padding: 15px;
}

#logo-icon {
    max-width: 140%;
    max-height: 140%;
    margin: 0 5px;
    margin-top: -5%;
}

#logo-text {
    color: #eee;
    font-size: 22px;
}

#navbar-logout {
    font-size: 18px;
}

#navbar-welcome {
    background: none;
    font-size: 18px;
}

.action {
    border-radius: 2px;
    border: solid #ccc 1px;
}

.action-content {
  width: 100%;
  float: left;
  text-align: center;
}

.action-content-inner {
  display: inline-block;
}

/* Base instruction styles */
.padded {
    padding: 20px 0px;
    margin-top: -5px;
}

.button {
    cursor: pointer;
}

.button-inactive {
    pointer-events: none;
    cursor: default;
}

.instruction-row {
    float: left;
    width: 100%;
    min-height: 108px;
    margin-top: 5px;
}

.instruction-completed {
    opacity: 0.4;
}

.action-blue {
  float: left;
  color: white;
  background-color: #428bca;
}

.action-blue:hover, .action-blue:focus {
  background-color: #3A7EB9;
}

.start-stop {
  width: 50%;
  margin: 30px 25%;
}

#donations-button {
  padding: 10px;
  margin-left: -60px;
  font-size: 30px;
}

#show-donations {
  position: fixed;
  margin-top: 10px;
  margin-left: 20px;
}

.modal-content {
  float: left;
}

.modal-body {
  float: left;
  padding: 15px;
}

#donations-form {
  padding: 5px;
  margin-top: 15px;
  float: left;
  width: 100%;
}

.form-row {
  margin: 10px;
  width: 90%;
  float: left;
}
.form-row-label {
  width: 100%;
}

.form-row-key {
  font-weight: bold;
  float: left;
  width: 40%;
}

.form-row-input {
  float: left;
  width: 60%;
}

.form-input-formatting {
  font-weight: normal;
  padding-left: 3px;
}

#submit-donation {
  font-size: 16px;
  margin-right: 20px;
}

.payment-errors {
  color: #F28C00;
  float: left;
  width: 60%;
}

.btn {
  font-size: 18px;
}

#other-amount {
  padding-left: 3px;
  font-size: 18px;
  height: 24px;
  line-height: 24px;
  margin-top: -2px;
}

.stripe-message {
  position: relative;
  top: 45px;
  right: -160px;
  font-size: 13px;
}
