/* Base html styles */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(../fonts/arvo.woff2) format('woff2'), url(../fonts/arvo.woff) format('woff');
}

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(../fonts/arvo-bold.woff2) format('woff2'), url(../fonts/arvo-bold.woff) format('woff');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(../fonts/droidserif.woff) format('woff');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(../fonts/droidserif-bold.woff) format('woff');
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Arvo', 'Droid Serif', serif;
    font-size: 18px;
    padding-top: 50px;
    background-image: url('../img/lightpaperfibers.png');
    background-image: url('../img/ricepaper2.png');
    background-repeat: repeat;
}

#content {
    padding: 30px 15px;
}

#logo {
  padding: 15px;
}

#logo-icon {
    max-width: 100%;
    max-height: 100%;
    margin: 0 5px;
    margin-top: -5%;
}

#logo-text {
    color: #eee;
    font-size: 22px;
}

#navbar-logout {
    font-size: 18px;
}

#navbar-welcome {
    background: none;
    font-size: 18px;
}

.action {
    border-radius: 2px;
    border: solid #ccc 1px;
}

.action-content {
  width: 100%;
  float: left;
  text-align: center;
}

.action-content-inner {
  display: inline-block;
}

/* Base instruction styles */
.padded {
    padding: 20px 0px;
    margin-top: -5px;
}

.button {
    cursor: pointer;
}

.button-inactive {
    pointer-events: none;
    cursor: default;
}

.instruction-row {
    float: left;
    width: 100%;
    min-height: 108px;
    margin-top: 5px;
}

.instruction-completed {
    opacity: 0.4;
}

.start-stop {
  float: left;
  width: 50%;
  margin: 30px 25%;
  color: white;
  background-color: #428bca;
}

.start-stop:hover, .start-stop:focus {
  background-color: #3A7EB9;
}
