/* Base html styles */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(../fonts/arvo.woff2) format('woff2'), url(../fonts/arvo.woff) format('woff');
}

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(../fonts/arvo-bold.woff2) format('woff2'), url(../fonts/arvo-bold.woff) format('woff');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(../fonts/droidserif.woff) format('woff');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(../fonts/droidserif-bold.woff) format('woff');
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Arvo', 'Droid Serif', serif;
    font-size: 20px;
    padding-top: 50px;
    background-image: url('../img/lightpaperfibers.png');
    background-image: url('../img/ricepaper2.png');
    background-repeat: repeat;
}

#content {
    padding: 40px 15px;
}

#logo {
    color: #eee;
    font-size: 22px;
}

#navbar-logout {
    font-size: 18px;
}

#navbar-welcome {
    background: none;
    font-size: 18px;
}

/* Base instruction styles */
.instruction {
    float: left;
    width: 80%;
    padding: 20px 0px;
    margin-top: -5px;
}

.instruction-btn {
    cursor: pointer;
}

.instruction-action {
    border-radius: 2px;
    border: solid #ccc 1px;
}

.instruction-action:focus, .instruction-action:hover {
    border: solid #bbb 1px;
    box-shadow: 0px 1px 2px 1px #eee;
}

.instruction-action-content {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.instruction-num {
    font-size: 48px;
    float: left;
    margin-right: 5%;
    margin-left: 5%;
    width: 5%;
    cursor: default;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.instruction-row {
    float: left;
    width: 100%;
    min-height: 108px;
    margin-top: 5px;
}

.instruction-completed {
    opacity: 0.4;
}

.instruction-action-inactive:focus, .instruction-action-inactive:hover {
    border: solid #ccc 1px;
    box-shadow: none;
    cursor: default;
    color: #428bca;
}

.start-stop {
  width: 50%;
  margin: 30px 25%;
  color: white;
  background-color: #428bca;
}

.start-stop:hover, .start-stop:focus {
  background-color: #3A7EB9;
}
