.center {
    text-align: center;
    width: 100%;
}

#plus-icon {
  max-width: 7%;
}

#kindle-icon {
  max-width: 15%;
}

.icon {
    max-width: 20%;
    position: relative;
    top: -200px;
    opacity: 0;
    margin: 0 2.5%;
}

#icon-container {
    font-size: 72px;
    margin-top: 5%;
    margin-bottom: 10%;
}

#noun-project-credit {
    font-size: 16px;
    margin-top: 20px;
}
