.center {
    text-align: center;
    width: 100%;
}

.icon {
    max-width: 20%;
    position: relative;
    top: -200px;
    opacity: 0;
    margin: 0 10px;
}

#icon-container {
    font-size: 72px;
    margin: 50px 0;
}

#noun-project-credit {
    font-size: 16px;
    margin-top: 20px;
}
