{% extends "base.html" %}
{% block body %}
<div class="instruction-row">
    <div class="instruction-num">
        1.
    </div>
    <div class="instruction instruction-action dropbox-action">
        {% if logged_in %}
            <a href="{{ url_for('dropbox_unlink') }} " method="post">
        {% else %}
            <a class="instruction-btn" href="{{ url_for('login') }}">
        {% endif %}
        <img class="dropbox-logo" src="static/dropbox.png"/>
        {% if logged_in %}
            Logout from Dropbox
        {% else %}
            Login with Dropbox
        {% endif %}
        </a>
    </div>
</div>
<div class="instruction-row">
    <div class="instruction-num">
        2.
    </div>
    <div class="instruction">
        <form id="user-info-form" action="{{ url_for('set_user_info') }}" method=post>
            <div class="form-group">
            {% if kindle_name %}
            <input type="text" id="kindle-name" name="kindle_name" class="form-control form-input instruction-action"
                placeholder="{{ kindle_name }}">
            {% else %}
            <input type="text" id="kindle-name" name="kindle_name" class="form-control form-input instruction-action"
                placeholder="Enter Kindle username (@kindle.com)">
            {% endif %}
            </div>

            <div class="form-group">
            {% if email %}
            <input type="email" id="email" name="email" class="form-control form-input instruction-action"
            placeholder="{{ email }}">
            {% else %}
            <input type="email" id="email" name="email" class="form-control form-input instruction-action"
                placeholder="Enter your email">
            {% endif %}
            </div>

            <input type="submit" class="btn btn-default" value="Save">
        </form>
    </div>
</div>
<div class="instruction-row">
    <div class="instruction-num">
        3.
    </div>
    <div class="instruction">
        {% if emailer %}
            Your Kindlebox emailer is: 
            <pre class="instruction-action">{{ emailer }}</pre>
        {% endif %}
        Or, get a different emailer.
    </div>
</div>

{% endblock %}
