{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

<form action="{{ url_for('login') }}" method=post>

  <div class="form-group">
    <label for="kindleName">Kindle username</label>
    <input type="text" class="form-control" id="kindleName" placeholder="Enter Kindle username (@kindle.com)">
  </div>

  <div class="form-group">
    <label for="Email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Enter your email">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>

</form>

{% endblock %}
