{% extends "base.html" %}

{% block css %}
  <link href="static/css/about.css" rel="stylesheet">
{% endblock %}

{% block body %}
<h2>About Kindlebox</h2>
<ul id="faq">

  <li class="faq-li">
    <b>
      What is Kindlebox?
    </b>
    <p>
      Kindlebox is an easy way to transfer books to your Kindle using a Dropbox
      folder.
    </p>
  </li>

  <li class="faq-li">
    <b>
      How do I use Kindlebox?
    </b>
    <p>
      It's simple! Just register
      <a href="{{ url_for('home') }}?redirect=true">here</a>,
      and start adding books to your <code>Dropbox/Apps/kindle-box</code>
      folder. Any new books you add will get sent to your Kindle.
    </p>
    <p>
      This setup can be useful for sharing books with other Kindle users, such
      as for a book club. For instance, you can create a shortcut to a shared
      Dropbox folder in <code>Dropbox/Apps/kindle-box</code>. Then, anytime the
      shared folder gets updated with new documents, you'll also receive them
      on your own Kindle.
    </p>
  </li>

  <li class="faq-li">
    <b>What kind of reading devices can I use Kindlebox with?</b>
    <p>
    You can use Kindlebox with any Kindle e-reader or mobile app.
    </p>
  </li>

  <li class="faq-li">
    <b>
      What kind of files can I send using Kindlebox?
    </b>
    <p>
      You can send any files supported by <a
        href="http://www.amazon.com/gp/help/customer/display.html?nodeId=200767340">Amazon</a>.
      These are:
      <ul>
        <li>.mobi, .pdf, .azw</li>
        <li>.txt, .rtf, .doc, .docx, .htm, .html</li>
        <li>.gif, .png, .bmp, .jpg, .jpeg</li>
      </ul>
    </p>
  </li>

  <li class="faq-li">
    <b>Can I delete books from my Kindle using Kindlebox?</b>
    <p>
    Unfortunately, no. We'll have to wait for a Kindle API :(
    </p>
  </li>

  <li class="faq-li">
    <b>
      I have some books that I've already transferred to my Kindle. If I add
      them to my Kindlebox folder, will they get added to my Kindle again?
    </b>
    <p>
      Unfortunately, yes. This is because Kindlebox has no way of knowing what
      files are already on your Kindle.
    </p>
    <p>
      There is a way around this, though.  Kindlebox will only send files of a
      certain type, so if you rename a file with an unsupported file extension
      (e.g. ".kbox"), it won't get sent to your Kindle. Make sure to do this
      <i>before</i> you add the file to your Kindlebox folder.
    </p>
  </li>

  <li class="faq-li">
    <b>
      Can I register for Kindlebox on mobile?
    </b>
    <p>
      Nope :( Perhaps in a galaxy far far away...
    </p>
  </li>

  <li id="faq-first" class="faq-li">
    <b>How does Kindlebox work under the hood?</b>
    <p>
      Kindlebox works on top of Amazon's existing
      <a href="http://www.amazon.com/gp/help/customer/display.html/?nodeId=200767340">Kindle Personal Documents Service</a>. Through
      this service, you can give certain email addresses permission to send
      documents to your Kindle, free of charge. Your Kindle can then download
      these documents wirelessly.
    </p>
    <p>
      Whenever you add a book to <code>Dropbox/Apps/kindle-box</code>, Kindlebox
      is notified by the
      <a href="https://www.dropbox.com/developers/webhooks">Dropbox webhooks API</a>.
      Kindlebox then downloads the book through the
      <a href="https://www.dropbox.com/developers/core">Dropbox Core API</a>
      and emails it to your Kindle.
    </p>
  </li>

  <li class="faq-li">
    <b>
      What does the "Activate Kindlebox" bookmarklet do? Should I be worried
      about running this JavaScript in my browser?
    </b>
    <p>
      The bookmarklet does a couple things. First, it scrapes the Amazon
      <a href="https://www.amazon.com/mn/dcw/myx.html">Manage Your Content and Devices</a>
      page for possible Kindlebox devices and displays them in a modal for you to
      pick from. Second, the bookmarklet sends a request to Amazon to allow a
      Kindlebox email address to send your Kindle devices personal documents. If
      all goes well, the bookmarklet notifies Kindlebox that your account is all
      set.
    </p>
  </li>

  <li class="faq-li">
    <b>
      Where can I find the source code for Kindlebox?
    </b>
    <p>
      <a href="https://github.com/stephanie-wang/kindlebox">Here</a> on GitHub.
    </p>
  </li>

  <li class="faq-li">
    <b>
      Where did you get those great icons on the front page?
    </b>
    <p>
      From <a href="http://thenounproject.com">the Noun Project</a>! "<a href="http://thenounproject.com/term/dropbox-folder/24249/">Dropbox Folder</a>" is by Agus Purwanto and "<a href="http://thenounproject.com/term/ebook/54054/">Ebook</a>" is by Antonio Aversa.
    </p>
  </li>

</ul>
{% endblock %}
