{% extends "base.html" %}

{% block css %}
  <link href="static/css/about.css" rel="stylesheet">
{% endblock %}

{% block body %}
<h2>About BookDrop</h2>
<ul id="faq">

  <li class="faq-li">
    <b>
      What is BookDrop?
    </b>
    <p>
      BookDrop is an easy way to transfer books to your Kindle using a Dropbox
      folder.
    </p>
  </li>

  <li class="faq-li">
    <b>
      How do I use BookDrop?
    </b>
    <p>
      It's simple! Just <a href="{{ url_for('home') }}?redirect=true">register
      here</a>, and start adding books to your
      <code>Dropbox/Apps/book-drop</code> folder. Any new books you add will
      get sent to your Kindle.
    </p>
  </li>

  <li class="faq-li">
    <b>
      Can I use BookDrop to share books with friends?
    </b>
    <p>
      Yup, just follow these steps:
      <ol>
        <li>Create a folder for books in your <code>Dropbox</code> folder.</li>
        <li>Go to the <a href="https://www.dropbox.com/">Dropbox website</a>,
        and share the folder with a friend.</li>
        <li>Using a file manager like "Finder" on Mac OS, create a shortcut to
        the shared folder inside <code>Dropbox/Apps/book-drop</code>.</li>
        <li>Have your friend create a similar shortcut to their copy of the
        shared folder. Now you'll both receive any books that get added to the
        folder!</li>
      </ol>
    </p>
  </li>

  <li class="faq-li">
    <b>What kind of reading devices can I use BookDrop with?</b>
    <p>
    You can use BookDrop with any Kindle e-reader or mobile app.
    </p>
  </li>

  <li class="faq-li">
    <b>
      What kind of files can I send using BookDrop?
    </b>
    <p>
      You can send any files supported by <a
          href="http://www.amazon.com/gp/help/customer/display.html?nodeId=200767340">Amazon</a>. 
      BookDrop also supports any <b>.epub</b>, <b>.cbr</b>, and <b>.cbz</b>
      files, which BookDrop will convert to a Kindle-supported format (the
      quality of these conversions may vary from file to file).  In total,
      these are:
      <ul>
        <li>.epub, .mobi, .pdf, .azw</li>
        <li>.cbr, .cbz</li>
        <li>.txt, .rtf, .doc, .docx, .htm, .html</li>
        <li>.gif, .png, .bmp, .jpg, .jpeg</li>
      </ul>
    <p>
    </p>
      If there's a file format that you don't see here, <a
      href="mailto:swang@cs.berkeley.edu?subject=BookDrop issue user ID {{ user_id }}">
      send us an email</a>, and we'll see what we can do!
    </p>
  </li>

  <li class="faq-li">
    <b>
        Help! I've added books to my BookDrop folder, but I haven't received
        them on my Kindle for some reason.
    </b>
    <p>
        First things first, make sure your Kindle is connected to WiFi, and
        wait a few minutes. It takes time to convert and send your book.
    </p>
    <p>
        If you still haven't received the file, make sure that it's of one of
        the supported filetypes listed above and below 25MB. Also, for legal
        reasons, BookDrop can't convert files under DRM.
    </p>
        If all else fails, <a href="mailto:swang93@mit.edu?subject=BookDrop
            issue user ID {{ user_id }}">send us an email</a> detailing what
        happened.
    </p>
  </li>

  <li class="faq-li">
    <b>Can I delete books from my Kindle using BookDrop?</b>
    <p>
    Unfortunately, no. We'll have to wait for a Kindle API :(
    </p>
  </li>

  <li class="faq-li">
    <b>
      I have some books that I've already transferred to my Kindle. If I add
      them to my BookDrop folder, will they get added to my Kindle again?
    </b>
    <p>
      Unfortunately, yes. This is because BookDrop has no way of knowing what
      files are already on your Kindle.
    </p>
    <p>
      There is a way around this, though.  BookDrop will only send files of a
      certain type, so if you rename a file with an unsupported file extension
      (e.g. ".kbox"), it won't get sent to your Kindle. Make sure to do this
      <i>before</i> you add the file to your BookDrop folder.
    </p>
  </li>

  <li class="faq-li">
    <b>
      Can I register for BookDrop on mobile?
    </b>
    <p>
      Nope :( Perhaps in a galaxy far far away...
    </p>
  </li>

  <li class="faq-li">
    <b>
      Can I connect multiple Dropbox accounts to the same Kindle?
    </b>
    <p>
      Yup, just make sure to register your different Dropbox accounts with the
      same Kindle. You can also connect multiple Kindles to the same Dropbox
      account, as long as they all belong to the same Amazon account.
    </p>
  </li>

  <li id="faq-first" class="faq-li">
    <b>How does BookDrop work under the hood?</b>
    <p>
      BookDrop works on top of Amazon's existing
      <a href="http://www.amazon.com/gp/help/customer/display.html/?nodeId=200767340">Kindle Personal Documents Service</a>. Through
      this service, you can give certain email addresses permission to send
      documents to your Kindle, free of charge. Your Kindle can then download
      these documents wirelessly.
    </p>
    <p>
      Whenever you add a book to <code>Dropbox/Apps/book-drop</code>, BookDrop
      is notified by the
      <a href="https://www.dropbox.com/developers/webhooks">Dropbox webhooks service</a>.
      BookDrop then downloads the book through the
      <a href="https://www.dropbox.com/developers/core">Dropbox Core API</a>
      and emails it to your Kindle.
    </p>
  </li>

  <li class="faq-li">
    <b>
      What does the "Activate BookDrop" bookmarklet do? Should I be worried
      about running this JavaScript in my browser?
    </b>
    <p>
      The bookmarklet does a couple things. First, it scrapes the Amazon
      <a href="https://www.amazon.com/mn/dcw/myx.html">Manage Your Content and Devices</a>
      page for possible BookDrop devices and displays them in a modal for you to
      pick from. Second, the bookmarklet sends a request to Amazon to allow a
      BookDrop email address to send your Kindle devices personal documents. If
      all goes well, the bookmarklet notifies BookDrop that your account is all
      set.
    </p>
  </li>

  <li class="faq-li">
    <b>
      Where can I find the source code for BookDrop?
    </b>
    <p>
      <a href="https://github.com/stephanie-wang/kindlebox">Here on GitHub</a>.
    </p>
  </li>

  <li class="faq-li">
    <b>
      I'm having a problem using BookDrop. Whom can I contact?
    </b>
    <p>
    <a href="mailto:swang93@mit.edu?subject=BookDrop issue user ID {{ user_id }}">Send us an email</a>! If you
    think you've found a bug or would like to see a new feature, feel free to
    also <a href="https://github.com/stephanie-wang/BookDrop/issues">add an
    issue</a> on the BookDrop GitHub page.
    </p>
  </li>

  <li class="faq-li">
    <b>
      Where did you get those great icons on the front page?
    </b>
    <p>
      From <a href="http://thenounproject.com">the Noun Project</a>! "<a href="http://thenounproject.com/term/dropbox-folder/24249/">Dropbox Folder</a>" is by Agus Purwanto and "<a href="http://thenounproject.com/term/ebook/54054/">Ebook</a>" is by Antonio Aversa.
    </p>
    <p>
        Also, the beautiful background image on all the BookDrop pages is from <a href="http://subtlepatterns.com">subtlepatterns.com</a>.
    </p>
  </li>

</ul>
{% endblock %}
