<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/img/icon32.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kindlebox</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/base.css" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="logo" class="navbar-brand" href="{{ url_for('home') }}">
            <img id="logo-icon" src="static/img/icon128.png" />
            <span id="logo-text">
              Kindlebox
            </span>
          </a>
        </div>
        {% if logged_in %}
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li class="active"><a id="navbar-welcome">Welcome, {{ name }}</a></li>
            <li class="active"><a id="navbar-logout" href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
        {% endif %}
      </div>
    </div>

    <div id="show-donations">
      <a class="button">
        <div id="donations-button" class="action action-blue">
          <div class="action-content">
            <div class="action-content-inner">
              $1
            </div>
          </div>
        </div>
      </a>
    </div>

    <div id="content" class="container col-md-offset-3 col-md-6">
        {% block body %}{% endblock %}
    </div>

    <div class="modal fade" id="donations-modal" tabindex="-1" role="dialog" aria-labelledby="donations-modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2>Support Kindlebox</h2>
          </div>
          <div class="modal-body">
            Kindlebox needs your help to pay the bills. Every little bit helps
            keep Kindlebox a free service for everyone!
            <form id="donations-form" action="/donate" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

              <input type="hidden" name="amount" value=""/>
              <div class="form-row">
                <span class="form-row-key">Donation Amount: </span>
                <div class="form-row-input btn-group" role="group">
                  <button type="button" class="btn btn-default amount-btn active" amount="1">$1</button>
                  <button type="button" class="btn btn-default amount-btn" amount="5">$5</button>
                  <button type="button" class="btn btn-default amount-btn" amount="20">$20</button>
                  <button type="button" class="btn btn-default amount-btn">$<input id="other-amount" type="text" size="4" placeholder="X"/></button>
                </div>
              </div>

              <div class="form-row">
                <label class="form-row-label">
                  <span class="form-row-key">Email: </span>
                  <input type="text" name="emailAddress" size="20" class="form-row-input form-input-formatting" placeholder="you@gmail.com"/>
                </label>
              </div>

              <div class="form-row">
                <label class="form-row-label">
                  <span class="form-row-key">Card Number: </span>
                  <input type="text" size="20" data-stripe="number" class="form-row-input form-input-formatting" placeholder="XXXXXXXXXXXXXXXX"/>
                </label>
              </div>

              <div class="form-row">
                <label class="form-row-label">
                  <span class="form-row-key">CVC: </span>
                  <input type="text" size="4" data-stripe="cvc" class="form-input-formatting" placeholder="XXX"/>
                </label>
              </div>

              <div class="form-row">
                <label class="form-row-label">
                  <span class="form-row-key">Expiration: </span>
                  <span class="form-row-input">
                    <input type="text" size="3" data-stripe="exp-month" class="form-input-formatting" placeholder="MM"/>
                    <span> / </span>
                    <input type="text" size="4" data-stripe="exp-year" class="form-input-formatting" placeholder="YYYY"/>
                  </span>
                </label>
              </div>
              <button id="submit-donation" type="submit" class="btn btn-primary pull-right">Submit Donation</button>
              <span class="pull-right stripe-message">
                Secure payments through <a href="https://stripe.com/">Stripe</a>
              </span>
              <span class="payment-errors">Errors</span>
            </form>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="static/js/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="static/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/lib/react-with-addons.min.js"></script>
    {% if dev %}
    <script type="text/javascript" src="static/js/lib/JSXTransformer.js"></script>
    {% endif %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54b4b1983eda50f6" async="async"></script>

    <script type="text/javascript">
      var STRIPE_PUBLIC_KEY = "{{ STRIPE_PUBLIC_KEY }}";
    </script>
    <script type="text/javascript" src="static/js/stripe.js"></script>

    <script type="text/javascript">
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
      analytics.load("2afEcXvTS827n9aLqcisLOjJH1XF83uB");
        analytics.page()
        {% if logged_in %}
        analytics.identify('{{ user_id }}', {
          name: '{{ name }}',
        });
        {% endif %}
            }}();
      var addthis_share = addthis_share || {}
      addthis_share = {
        passthrough : {
          twitter: {
            text: "Check out Kindlebox, and receive books on your Kindle through Dropbox!"
          }
        }
      };

      {% if show_donations_modal %}
      $('#donations-modal').modal();
      {% endif %}
    </script>

    {% block scripts %}{% endblock %}
  

</body>
</html>
