<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/img/icon32.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <title>Kindlebox</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/base.css" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="logo" class="navbar-brand" href="{{ url_for('home') }}">
            <img id="logo-icon" src="static/img/icon128.png" />
            <span id="logo-text">
              Kindlebox
            </span>
          </a>
        </div>
        {% if logged_in %}
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li class="active"><a id="navbar-welcome">Welcome, {{ name }}</a></li>
            <li class="active"><a id="navbar-logout" href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
        {% endif %}
      </div>
    </div>

    <div id="content" class="container col-md-offset-3 col-md-6">
      <h2 style="color: #F28C00;">Kindlebox is experiencing some problems with new users due to a temporary Google account lock. Please be patient while we fix this!</h2>
        {% block body %}{% endblock %}
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="static/js/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="static/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/lib/react-with-addons.min.js"></script>
    {% if dev %}
    <script type="text/javascript" src="static/js/lib/JSXTransformer.js"></script>
    {% endif %}
    <script type="text/javascript">
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
      analytics.load("2afEcXvTS827n9aLqcisLOjJH1XF83uB");
        analytics.page()
        {% if logged_in %}
        analytics.identify('{{ user_id }}', {
          name: '{{ name }}',
        });
        {% endif %}
            }}();
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54b4b1983eda50f6" async="async"></script>
    <script type="text/javascript">
      var addthis_share = addthis_share || {}
      addthis_share = {
        passthrough : {
          twitter: {
            text: "Check out Kindlebox, and receive books on your Kindle through Dropbox!"
          }
        }
      }
    </script>

    {% block scripts %}{% endblock %}
  

</body>
</html>
