{% extends "base.html" %}

{% block css %}
    <!--link href="static/css/index.css" rel="stylesheet"-->
{% endblock %}

{% block body %}
<div>
  <h2>
    Uh-oh! Something wonky happened. Go back to the <a href="{{
    url_for('home') }}">homepage</a> and try again?
  </h2>
</div>
<div>
  If you think this is an issue with Kindlebox, <a href="mailto:swang93@mit.edu">shoot us an email</a>!{% if logged_in %} Please include your user ID <b>{{ user_id }}</b>!{% endif %}
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    analytics.track('Something wonky');
</script>
{% endblock %}
