{% extends "base.html" %}

{% block css %}
    <!--link href="static/css/index.css" rel="stylesheet"-->
{% endblock %}

{% block body %}
<div>
  <h2>
    Uh-oh! Something wonky happened. Go back to the <a href="{{
    url_for('home') }}">homepage</a> and try again?
  </h2>
</div>
<p>
    If you're reaching this page after trying to activate on Amazon, make sure
    to add a fresh copy of the bookmarklet on your bookmarks bar.
</p>
<p>
    If that doesn't work out for you, <a href="mailto:swang93@mit.edu?subject=Kindlebox issue user ID {{ user_id }}">shoot us an email</a>!
</p>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    analytics.track('Something wonky');
</script>
{% endblock %}
