{% extends "base.html" %}

{% block css %}
    <link href="static/css/index.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="static/js/kindlebox_setup.js"></script>
    <script type="text/jsx" src="static/js/kindlebox_react.js"></script>
    <script type="text/jsx">
        /** @jsx React.DOM */
        var kindleboxCsrfToken = "{{ csrf_token() }}";
        var loggedIn = "{{ logged_in }}" === "True";
        var active = "{{ active }}" === "True";
        var emailer = "";
        {% if emailer %}
            emailer = "{{ emailer }}";
        {% endif %}
        var appUrl = "{{ app_url }}";
        var loginUrl = "";
        if (! loggedIn) {
            var loginUrl = "{{ url_for('login') }}";
        }
        React.renderComponent(
          <InstructionTable loggedIn={ loggedIn }
                            active={ active }
                            loginUrl={ loginUrl }
                            emailer={ emailer }
                            appUrl={ appUrl }
                            kindleboxCsrfToken={ kindleboxCsrfToken }
                            />,
          document.getElementById('content')
        );
    </script>
{% endblock %}
