{% extends "base.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

<form action="{{ url_for('login') }}" method=post>

  <div class="form-group">
    <label for="kindle-name">Kindle username</label>
    <input type="text" id="kindle-name" name="kindle_name" class="form-control" placeholder="Enter Kindle username (@kindle.com)">
  </div>

  <div class="form-group">
    <label for="Email">Email</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email">
  </div>

  <input type="submit" class="btn btn-default" value="Login">

</form>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="static/js/login.js"></script>
{% endblock %}

