{% extends "base.html" %}
{% block css %}
  <link href="static/css/splash.css" rel="stylesheet">
{% endblock %}
{% block body %}

<div class="center">
  <div id="icon-container">
    <img class="icon" src="static/img/noun_24249_cc.png"/>
    <img id="plus-icon" class="icon" src="static/img/plus.png"/>
    <img id="kindle-icon" class="icon" src="static/img/noun_54054_cc.png"/>
  </div>
<h1>
  Kindlebox: Receive books on your Kindle through Dropbox.
</h1>
<a href="{{ url_for('home') }}?redirect=true" class="button">
  <div id="start" class="padded action start-stop">
    <div class="action-content">
      <div class="action-content-inner">
        Get Kindlebox
      </div>
    </div>
  </div>
</a>

<p>
Or, <a href="{{ url_for('about') }}">learn more</a>.
</p>

<p id="noun-project-credit">
"<a href="http://thenounproject.com/term/dropbox-folder/24249/">Dropbox Folder</a>" by Agus Purwanto and "<a href="http://thenounproject.com/term/ebook/54054/">Ebook</a>" by Antonio Aversa,
<br>
from <a href="http://thenounproject.com">the Noun Project</a>.
</p>

</div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="static/js/splash.js"></script>
{% endblock %}
